 <% action_user = notification.action_user %>
 <% ationed_user = notification.ationed_user %>
  
  <%== notification_form(notification) %>
  <%= " (#{time_ago_in_words(notification.created_at)}å‰)" %>
  
  <p class="moderate-font"><%= Post.find_by(id: notification.post_id).body %></p>
