<h1>ユーザー詳細</h1>

<table class="table">

      <tr><td>社員番号</td><td><%= @user.number %></td></tr>
      <tr><td>名前</td><td><%= @user.name %></td></tr>
      <tr><td>メール</td><td><%= @user.email %></td></tr>
</table>

<%= link_to "編集", edit_user_path(@user) %>



